In [1]:
cd ..

/Users/osx/Documents/ml-workspace/LearningML

In [2]:
import tensorflow as tf
import pandas
import numpy as np

In [3]:
# Normal distribution
w = tf.random_normal([10, 5], mean=1.0, stddev=0.1, dtype=tf.float32, seed=910517, name="random_normal")
print(w)
sess = tf.Session()
result = []
with sess:
    result = sess.run(w)
    print(type(result))
#     print(result)    
    
# Display result by data frame
df = pandas.DataFrame(result)
df

Tensor("random_normal:0", shape=(10, 5), dtype=float32)
<class 'numpy.ndarray'>

          0         1         2         3         4
0  1.153224  0.917445  1.030942  1.074285  0.989181
1  1.067416  1.179566  1.103843  0.989355  1.139697
2  1.003614  0.934770  0.997546  1.118269  0.840090
3  1.072702  1.081304  0.942060  1.061734  0.880307
4  0.941007  1.040780  1.104817  0.988608  0.991010
5  1.153041  0.906497  1.115499  1.016584  0.810684
6  0.893333  0.944812  0.935364  0.801583  0.927746
7  1.096777  0.842832  1.092250  1.025023  1.090764
8  0.944999  0.752917  0.888310  0.952720  1.077770
9  1.045389  0.898318  0.987479  1.104608  0.959142

In [ ]:
# Forward